@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html, body, * {
  margin: 0;
  padding: 0;
}

.project-backdrop {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/img13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center;
}

.project-container {
  color: rgb(19, 32, 80);
  font-family: 'Fjalla One', sans-serif;
  background-color: #66a2fc89;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 500px;
  width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 40vh;
}

.input-element {
  padding: 15px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 5px;
  border-style: none;
  margin: 50px;
  text-align: center;
}

.input-element:focus {
  color: rgb(19, 32, 80);
  background-color: #fff;
  border-color: rgb(19, 32, 80);
  outline: 0;
  box-shadow: 0 0 0 0.15rem #5468FF;
}

.input-element:focus::placeholder {
  color: transparent;
}

.input-element:hover {
  box-shadow: 0 0 0 0 #fff inset, #5468FF 0 0 0 2px;
}

.input-element::placeholder {
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.sum-sign {
  display: block;
  margin: -50px auto;
  font-size: 50px;
}

button {
  margin-top: -10px;
  font-family: 'Fjalla One', sans-serif;
  display: block;
  outline: 0;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  will-change: box-shadow,transform;
  background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #334afb 100% );
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: rgb(19, 32, 80);
  height: 48px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease,transform 0.15s ease;
}

button:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
  transform: translateY(-2px);
}

button:active{
  box-shadow: inset 0px 3px 7px #3c4fe0;
  transform: translateY(2px);
}

.result-element {
  margin-top: 30px;
  font-size: 28px;
  color: #ffff;
  letter-spacing: 0.9px;
  font-weight: lighter;
}

